h1{
    font-size: 40px;
    color: #39576d ;
    margin: 0%;
    margin-top: 15px;
    margin-bottom: 15px;
}


p{
    margin: 0%;
}

html, body {
    margin: 0%;
   
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 213, 213);

}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #141e3c;
    
}

#nav-elements{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 30px ;
}

a {
    justify-content: center;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 20px 10px;
    background-color: #141e3c;
    color: #baad7b; /* Text color */
    text-decoration: none; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 1), -1px -1px 1px rgba(233, 233, 233, 0.7); /* Subtle inset shadow */
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

a:hover {
    background-color: #baad7b; 
    color: #141e3c; /* Brighter text on hover */
    /* Adjusting box-shadow to match hover background */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4), 0px 4px 12px rgba(233, 233, 233, 0.5); /* More pronounced shadow */
}


#back-button{
     background-color: #141e3c;
     margin-right: 30px ;
}

#down {
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    background-color: rgb(224, 213, 213);
}

img{
    width: 50px;
}

.size{
    font-size: 85px;
    color: #baad7b;
}

.logo-text {
	font-size: 30px;
	margin-bottom: 2px;
	margin-top: -10px;
	padding: 0 10px;
}

.color-main {
	color: #baad7b;
}

.logo-subtext {
	color: #9aa7b1 !important;
	font-size: 15px;
	letter-spacing: 0.48em;
	line-height: 1;
	padding: 0 7px;
}

.row{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    width: 500px;
    height: 30px;
}

.normal{
    background-color: transparent;
    padding: 5px 20px;
    border: none;
    box-shadow: inset 5px 5px 4px 0 rgb(0, 0, 0), inset -1px -1px 8px 0 rgb(175, 175, 175);
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.15);
    width: 150px;
    height: 30px;
    color: #486173;
	font-size: 13px;
    margin-right: 20px;
    
}

.btn {
	border-radius: 50px;
	border-width: 2px;
	font-size: 16px;
    color: #ffffff;
    background-color: #baad7b;
	letter-spacing: 0;
	min-width: 100px;
	padding: 11px 39px;
	text-transform: none;
    border: none;
}



#base{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.long{
    background-color: transparent;
    padding: 5px 20px;
    border: none;
    box-shadow: inset 5px 5px 4px 0 rgb(0, 0, 0), inset -1px -1px 8px 0 rgb(175, 175, 175);
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.15);
    width: 286px;
    height: 30px;
    color: #486173;
	font-size: 13px;
    margin-right: 20px;
}

.longer{
    background-color: transparent;
    padding: 5px 20px;
    border: none;
    box-shadow: inset 5px 5px 4px 0 rgb(0, 0, 0), inset -1px -1px 8px 0 rgb(175, 175, 175);
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.15);
    width: 500px;
    height: 30px;
    color: #486173;
	font-size: 13px;
    margin-right: 20px;
}


.input-row{
    width: 95%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0%;
    height: 50px;
}

#delete-row{
    width: 95%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0%;
    height: 100px;
}

form{
    padding: 0%;
    margin: 0%;
}

#delete-row p{
    margin-bottom: 10px;
    margin-left: 10px;
}

#delete{
    background-color: rgb(184, 24, 24);
    border-radius: 5px;
}

#update{
    background-color: rgb(34, 153, 44);
    border-radius: 5px;
    margin-right: 15px;
}

#table{
    padding: 20px;
}

table {
    
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    color: #f9f9f9;
    background-color: #1f2f5e;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


